@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('/public/Mehr\ Nastaliq.ttf'); */


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  background: #fff;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

/* Hide vertical scrollbar for Chrome, Safari, and newer Edge */
*::-webkit-scrollbar {
  width: 0;
  /* Adjust this value to your preference */
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Hide horizontal scrollbar for Chrome, Safari, and newer Edge */
*::-webkit-scrollbar-horizontal {
  height: 0;
  /* Adjust this value to your preference */
}

*::-webkit-scrollbar-thumb:horizontal {
  background-color: transparent;
}

@font-face {
  font-family: 'Mehr_nastaliq';
  src: url('../public/Mehr_Nastaliq.ttf');
}

.font-noto-nastaliq {
  font-family: 'Mehr_nastaliq', serif !important;
}

@keyframes shimmer {
  0% {
    background-position: -200%;
  }

  100% {
    background-position: 200%;
  }
}

.animate-shimmer {
  animation: shimmer 1s infinite linear;
  background: linear-gradient(90deg, #eee 25%, #ccc 50%, #eee 75%);
  background-size: 200% 100%;
}

.liked {
  transform: scale(1.5) rotate(-10deg);
}