/* Add these styles to your CSS */
.nav-item {
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.nav-item.active::after {
    content: '';
    display: block;
    border-bottom: 3px solid #984A02;
    margin-top: 5px;
    transition: all 0.5s ease-in-out;
}